.feedback{    
    position:absolute;
    top: 500vh;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}
.fedbackTitle{
    height: 10vh;
    padding-left: 5vw;
    padding-top: 5vw;
    font-size: 5vw;
    align-items: center;
    margin: 0;
}
.feedbackSectionsContainer{
    display: grid;
    
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 60vh;
    justify-content: center;
    padding-top: 10vh;
}
.feedbackSections{
    display: flex;
    flex-direction:row;
    flex: 35vw 15vw;
}
.feedbackImages{
    width: 25vw;
    object-fit: cover;
    margin: 2.5vh 1vw;
    margin-left: 5vw;
}
.feedbackClientNames{
    display:inline;
    width: 100%;
    align-items: top;
    margin-top: 1vh;
    font-size: 2vw;
}
.clientFeedbacks{
    font-size: 1vw;
}
@media(max-width: 500px){
    .fedbackTitle{
        font-size: 7vw;
    }
    .clientFeedbacks{
        font-size: 1.35vw;
    }
}
@media(max-width: 300px){
    .fedbackTitle{
        font-size: 10vw;
    }
    .clientFeedbacks{
        font-size: 1.5vw;
    }
}