.contact{    
    position:absolute;
    top: 600vh;
    background-color: rgb(33, 33, 33);
    height: 100vh;
    width: 100vw;
    color: white;
    z-index: -10;
}

.contactTitle{
    font-weight: 500;
    width: 40vw;
    font-size: 10vh;
    text-align: left;
    margin: 0;
    padding-left: 2vw;
}
.joinInfo{
    padding-top: 10vh;
    padding-left: 10vw;
    font-size: 5vh;
}
.joinInfosText{
    margin: 0;
}
.joinTitle{
    margin-bottom: 0;
}
.contactJoinLinks{
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 2vh;
    transition: 0.5s;
}
.contactJoinLinks:hover{
    font-size: 2.2vh;
    margin: 1vh;
}
.socialMedia{
    display: flex;
    position: absolute;
    bottom: 10vh;
    flex: row;
    align-items: center;
}
.contactSocialLogo{
    height: 50px;
    border-radius: 50%;
    margin: 1vw;
    transition: 0.5s;
}
.contactSocialLogo:hover{
    filter: invert();
}
.socialTitle{
    display: inline-block;
    padding-left: 2vw;
    margin-right: 1vw;
    align-items: center;
}
footer{
    position: absolute;
    padding-left: 2vw;
    bottom: 1vh;
}
.logoInContacts{
    position:absolute;
    top:10vh;
    right:5vw;
    height: 80vh;
    z-index: -9;
}
@media(max-width: 800px){
    .logoInContacts{
        display: none;}
}